.form {
    -fx-background-color: -card-bg;
}

/* TEXT */
.title {
    -fx-text-fill: -text-color;
}

.account-readonly-value {
    -fx-text-fill: -text-color;
    -fx-font-weight: 600;
}

/* ERROR */
.error {
    -fx-text-fill: -danger;
}