.status-label {
  -fx-text-fill: -text-color;
  -fx-font-size: 13px;
}

.table-view .table-cell {
  -fx-alignment: CENTER-LEFT;
  -fx-border-color: transparent -border-color transparent transparent;
  -fx-padding: 0 12;
}

.table-view .column-header-background,
.table-view .filler,
.table-view .column-header {
  -fx-pref-height: 36;
  -fx-min-height: 36;
}

.table-view .column-header .label {
  -fx-font-size: 13px;
}