/* File List Panel Styles */

/* STATUS BAR */
.status-label {
    -fx-text-fill: -text-color;
    -fx-font-size: 18px;
}

/* TABLE */
.table-view {
    -fx-background-color: -table-bg;
    -fx-border-color: -border-color;
    -fx-table-cell-border-color: -border-color;
    -fx-table-header-border-color: -border-color;
}

.table-view .column-header,
.table-view .filler,
.table-view .column-header-background {
    -fx-background-color: -table-bg;
    -fx-border-color: -border-color;
}

.table-view .column-header-background,
.table-view .filler,
.table-view .column-header {
    -fx-pref-height: 40;
    -fx-min-height: 40;
}

.table-view .table-cell {
    -fx-alignment: CENTER-LEFT;
    -fx-border-color: transparent -border-color transparent transparent;
    -fx-padding: 0 18;
}

.table-view .column-header {
    -fx-border-color: transparent -border-color -border-color transparent;
}

.table-view .column-header .label {
    -fx-font-size: 14px;
}

.table-row-cell {
    -fx-background-color: -table-bg;
}

.table-row-cell:odd {
    -fx-background-color: -table-odd;
}

.table-row-cell:hover {
    -fx-background-color: -table-hover;
}

.table-row-cell:selected {
    -fx-background-color: -table-selected;
}

.combo-box.page-size-combo .arrow-button {
    -fx-padding: 0 15 0 0;
    -fx-pref-width: 23;
}

/* DatePicker height adjustment */
.date-picker {
    -fx-pref-height: 51;
    -fx-max-height: 51;
    -fx-pref-width: 165;
    -fx-max-width: 165;
}